body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.cells {
    display: grid;
    grid-template-columns: repeat(7, 90px);
    gap: 15px;
    background-color: blue;
    padding: 20px;
}

.cells > div {
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.cells > div:hover {
    background-color: #d1d9e6;
}